.chat {
    height: 72px;
    background-color: #111b21;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.chat:hover {
    background-color: #202c33;
}

.chat_photo {
    padding: 12px 15px 12px 13px;
}

.chat_body {
    border-bottom: 1px solid rgba(134, 150, 160, 0.15);
    display: flex;
    flex-direction: column;
    padding: 14px 15px 14px 0px;
    justify-content: center;
    flex-grow: 1;
}

.chat_body_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.chat_head_name {
    font: inherit;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
}

.chat_head_hour {
    font-size: 12px;
}

.chat_body_message {
    font-size: 14px;
    color: #8696a0;
}

.chat_color_gray {
    color: #8696a0;
}

.chat_color_green {
    color: #00a884;
}

.contact_state {
    font-size: 13px;
    color: #8696a0;
}

.chat_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 3px;
}

.chat_content_message{
    display: flex;
    flex-direction: row;
}

.chat_content_notRead {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #00a884;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: #111b21;
}